<div fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center top">
    <form [formGroup]="droneForm" (ngSubmit)="create()" style="width: 60%; margin-top: 1%">
  <table class="striped">
  <tbody>
  <tr>
    <td>Productname</td>
    <td><input type="text" formControlName="productName" placeholder="Enter Productname" required></td>
  </tr>
  <tr>
    <td>Details</td>
    <td><input type="text" formControlName="details" placeholder="Enter Details" required></td>
  </tr>
  <tr>
    <td>Price</td>
    <td><input type="number" formControlName="price" placeholder="Enter Price" required></td>
  </tr>
  <tr>
    <td>ImageUrl</td>
    <td><input type="url" formControlName="imageURL" placeholder="Enter ImageUrl" required></td>
  </tr>
  <tr *ngIf="!isNewManufacturer">
    <td>Existing Manufacturer</td>
    <mz-select-container>
      <select mz-select
              id="manufacturer"
              [label]="'Manufacturer'"
              [placeholder]="'Select Manufacturer'"
              [formControlName]="'manufacturer'"
      >
        <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</option>
      </select>
    </mz-select-container>
  </tr>
  <tr *ngIf="isNewManufacturer">
    <td>New Manufacturer</td>
    <td><input type="text" formControlName="manufacturer" placeholder="Enter The Manufacturer Name" required></td>
  </tr>
  </tbody>
</table>
      <button mz-button class="green" style="float: right; margin-top: 20px">Create a new drone</button>
    </form>
</div>
  <div fxLayout="row" fxLayoutAlign="center top">
  <form [formGroup]="droneForm"style="width: 60%; margin-top: 1%">
  <table class="striped">
    <tbody>
    <tr>
      <td>Manufacturer</td>
      <td>
        <button *ngIf="isNewManufacturer" (click)="setIsNewManufacturer(false)" mz-button class="blue">Choose existing manufacturer</button>
        <button *ngIf="!isNewManufacturer" (click)="setIsNewManufacturer(true)" mz-button class="blue">Create new manufacturer</button>
      </td>
    </tr>
    </tbody>
  </table>
  </form>
</div>
</div>
