<div fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="center top">
    <form [formGroup]="droneForm" (ngSubmit)="create()" style="width: 60%; margin-top: 1%">
  <table class="striped">
  <tbody>
  <tr>
    <td>Produktnavn</td>
    <td><input type="text" formControlName="productName" placeholder="Produktnavn" required></td>
  </tr>
  <tr>
    <td>Detailer</td>
    <td><input type="text" formControlName="details" placeholder="Detailer" required></td>
  </tr>
  <tr>
    <td>Pris</td>
    <td><input type="number" formControlName="price" placeholder="Pris" required></td>
  </tr>
  <tr>
    <td>BilledeUrl</td>
    <td><input type="url" formControlName="imageURL" placeholder="BilledeUrl" required></td>
  </tr>
  <tr>
    <td>UserManualUrl</td>
    <td><input type="url" formControlName="userManualURL" placeholder="UserManualUrl" required></td>
  </tr>
  <tr *ngIf="!isNewManufacturer">
    <td>Existing Manufacturer</td>
    <mz-select-container>
      <select mz-select
              id="manufacturer"
              [label]="'Fabrikant'"
              [placeholder]="'Vælg fabrikant'"
              [formControlName]="'manufacturer'"
      >
        <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</option>
      </select>
    </mz-select-container>
  </tr>
  <tr *ngIf="isNewManufacturer">
    <td>Ny fabrikant</td>
    <td><input type="text" formControlName="manufacturer" placeholder="Indtast fabrikantens navn" required></td>
  </tr>
  </tbody>
</table>
      <button mz-button class="green" style="float: right; margin-top: 20px">Opret en ny drone</button>
    </form>
</div>
  <div fxLayout="row" fxLayoutAlign="center top">
  <form [formGroup]="droneForm"style="width: 60%; margin-top: 1%">
  <table class="striped">
    <tbody>
    <tr>
      <td>Fabrikant</td>
      <td>
        <button *ngIf="isNewManufacturer" (click)="setIsNewManufacturer(false)" mz-button class="blue">Vælg existerende fabrikant</button>
        <button *ngIf="!isNewManufacturer" (click)="setIsNewManufacturer(true)" mz-button class="blue">Opret en ny fabrikant</button>
      </td>
    </tr>
    </tbody>
  </table>
  </form>
</div>
</div>
