<div class="container"
     fxLayout="column"
     fxFlex="50"
     fxLayoutGap="30px">
  <div fxLayout="row wrap" *ngIf="drones">
    <mz-collapsible fxFlex="100" fxLayoutAlign="center center" fxFill="100">
      <mz-collapsible-item *ngFor="let manufacturer of manufacturers">
        <mz-collapsible-item-header style="font-size: large">Manufacturer Id: {{manufacturer.id}} -  Manufacturer Name: {{manufacturer.name}}</mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <form [formGroup]="manufacturerForm" (ngSubmit)="update()">
            <table class="striped">
              <tbody *ngIf="!isUpdate">
              <tr>
                <td>Id</td>
                <td style="text-align: center">{{manufacturer.id}}</td>
              </tr>
              <tr>
                <td>Manufacturer Name</td>
                <td style="text-align: center">{{manufacturer.name}}</td>
              </tr>
              <tr>
                <td>Drones </td>
                <td style="text-align: center" *ngFor="let drone of manufacturer.drones">{{drone.productName}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="isUpdate">
              <tr>
                <td>Id</td>
                <td>{{manufacturer.id}}</td>
              </tr>
              <tr>
                <td>Manufacturer Name</td>
                <td><input type="text" formControlName="name" value="{{manufacturer.name}}"></td>
              </tr>
              </tbody>
            </table>
            <div class="buttonsRead" *ngIf="!isUpdate">
              <button *ngIf="!isUpdate" (click)="delete(manufacturer.id)" mz-button [float]="true" class="red"><i class="material-icons">delete</i></button>
              <span class="right">
            <button *ngIf="!isUpdate" (click)="setUpdate(manufacturer)" mz-button [float]="true" class="blue"><i class="material-icons" style="margin-left: 2px">edit</i></button>
          </span>
            </div>
            <div class="buttonsUpdate" *ngIf="isUpdate">
              <button *ngIf="isUpdate" (click)="resetUpdate()" mz-button [float]="true" class="red"><i class="material-icons">cancel</i></button>
              <span class="right">
            <button *ngIf="isUpdate" type="submit" mz-button [float]="true" class="green"><i class="material-icons" style="margin-left: 2px">check</i></button>
          </span>
            </div>
          </form>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </div>
</div>
