<Form [formGroup]="loginform">
  <mz-input-container>
    <input id="userName" mz-input="" placeholder="Brugernavn" name="userName" formControlName="userName"type="text">
  </mz-input-container>
  <mz-input-container>
    <input id="password" mz-input="" placeholder="Kodeord" name="password" formControlName="password" type="text">
  </mz-input-container>


  <button _ngcontent-c13="" class="ng-tns-c13-1 btn waves-effect waves-light" (click)="login()" mz-button="">
    Login
  </button>




</Form>
