<div class="container">
  <div class="spinner" style="text-align: center;" *ngIf="!orders">
    <mz-spinner color="green"></mz-spinner>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 6%">
    <button mz-button class="grey darken-1" routerLink="/shopping-cart" ><i class="material-icons left">arrow_back_ios</i>Inkøbskurv</button>
    <button mz-button class="grey darken-1" (click)="confirmOrderModal.openModal()" [style.display]="userRole !='Administrator' ? 'block': 'none'"><i class="material-icons right">arrow_forward_ios</i>Bestil</button>
  </div>


  <h4 style="margin-top: 4%">Dine Informationer</h4>
  <hr>

  <div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="userRole != 'Administrator' && customer && orders">

    <h6 style="margin-top: 3%">Fornavn: {{customer.firstName}}</h6>
    <h6>EfterNavn: {{customer.lastName}}</h6>
    <h6>Email: {{customer.email}}</h6>
    <h6>Mobilnummer: {{customer.phoneNumber}}</h6>
    <h6>Addresse: {{customer.address}}</h6>

    <button mz-button class="grey darken-1" style="margin-top: 3%" routerLink="/myProfile">Opdater min info</button>
  </div>
  <div *ngIf="userRole === 'Administrator'" style="margin-top: 2%">
    <h5>Du er Adminstrator</h5>
  </div>

  <h4 style="margin-top: 4%">Din Ordre</h4>
  <hr>

  <div class="shopping-cart" style="margin-top: 5%" *ngIf="orders.length > 0">
    <mz-card *ngFor="let orderLine of orders">
      <mz-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img src="{{orderLine.drone.imageURL}}" style="width: 150px; height: 150px; object-fit: cover; border-color: gray">
          <div>
            <h6>Produkt: {{orderLine.drone.productName}}</h6>
            <h6>Fabrikant: {{orderLine.drone.manufacturer.name}}</h6>
            <h6>Pris: {{orderLine.drone.price}} DKK</h6>
          </div>
          <mz-input-container>
            <div>
              <h6>{{orderLine.qty}} stk</h6>
            </div>
          </mz-input-container>
          <mz-input-container>
            <div>
              <h6>Pris: {{orderLine.qty * orderLine.boughtPrice}}</h6>
            </div>
          </mz-input-container>

        </div>
      </mz-card-content>
      <mz-card-action>

      </mz-card-action>
    </mz-card>

  </div>

  <mz-modal #confirmOrderModal [fixedFooter]="true" [options]="modalOptions">
    <mz-modal-header>
      <h3>Bekræft Bestilling</h3>
    </mz-modal-header>
    <mz-modal-content>
      <h5 style="margin-top: 4%">Dine Informationer</h5>
      <hr>
      <div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="userRole != 'Administrator' && customer">

        <h6 style="margin-top: 3%">Fornavn: {{customer.firstName}}</h6>
        <h6>EfterNavn: {{customer.lastName}}</h6>
        <h6>Email: {{customer.email}}</h6>
        <h6>Mobilnummer: {{customer.phoneNumber}}</h6>
        <h6>Addresse: {{customer.address}}</h6>
      </div>

      <h5 style="margin-top: 4%">Leveres Til</h5>
      <hr>
      <div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="userRole != 'Administrator' && customer">

        <h6 style="margin-top: 3%">{{customer.firstName}} {{customer.lastName}}</h6>
        <h6>Addresse: {{customer.address}}</h6>
      </div>

      <h4 style="margin-top: 4%">Ordre</h4>
      <hr>

      <div class="shopping-cart" style="margin-top: 5%" *ngIf="orders.length > 0">
        <mz-card *ngFor="let orderLine of orders">
          <mz-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <img src="{{orderLine.drone.imageURL}}" style="width: 150px; height: 150px; object-fit: cover; border-color: gray">
              <div>
                <h6>Produkt: {{orderLine.drone.productName}}</h6>
                <h6>Fabrikant: {{orderLine.drone.manufacturer.name}}</h6>
                <h6>Pris: {{orderLine.drone.price}} DKK</h6>
              </div>
              <mz-input-container>
                <div>
                  <h6>{{orderLine.qty}} stk</h6>
                </div>
              </mz-input-container>
              <mz-input-container>
                <div>
                  <h6>Pris: {{orderLine.qty * orderLine.boughtPrice}}</h6>
                </div>
              </mz-input-container>

            </div>
          </mz-card-content>
        </mz-card>
        <hr style="margin-top: 2%">
        <h4 style="margin-top: 1%; margin-bottom: 5%; float: right">Subtotal: {{subTotal}}</h4>

      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true" mz-modal-close>Annuller</button>
      <button mz-button [flat]="true" mz-modal-close (click)="createOrder()">Bekræft</button>
    </mz-modal-footer>
  </mz-modal>




  </div>
