<div class="container">

 <button mz-button class="grey darken-1" style="margin-top: 6%" routerLink="/drones"><i class="material-icons left">arrow_back_ios</i>Forsæt Shopping</button>

  <div class="shopping-cart" style="margin-top: 5%">
    <mz-card *ngFor="let orderLine of orderLines ">
      <mz-card-content>

        <img src="{{orderLine.drone.imageURL}}" style="width: 250px; height: 250px; object-fit: cover; border-color: gray">
        <h5>Produkt: {{orderLine.drone.productName}}</h5>
        <h5>Fabrikant: {{orderLine.drone.manufacturer.name}}</h5>
        <h5>Pris: {{orderLine.drone.price}} DKK</h5>

        <input mz-input [label]="'Quantity'" id="inline-input" type="number" min="1" max="10" style="text-align: center; margin-top: 3%" [value]="orderLine.qty">



        <button mz-button class="red" [float]="true" (click)="removeItem(orderLine)"><i class="material-icons left">close</i></button>

      </mz-card-content>
      <mz-card-action>

      </mz-card-action>
    </mz-card>

  </div>




</div>
