  <div class="col s12">
    <mz-navbar [navbarClass]="'grey darken-1'">
      <a href="#" class="brand-logo center" style="font-family: 'Allerta Stencil', Sans-serif, serif;">WeFly4You</a>
      <mz-navbar-item-container [align]="'left'">
        <mz-navbar-item><a href="javascript:void(0)">Sass</a></mz-navbar-item>
        <mz-navbar-item><a href="javascript:void(0)">Components</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="js">JavaScript</a></mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item><a><i class="material-icons left">account_circle</i>login</a></mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>
  </div>
