<ul id="dropdownDrones" class="dropdown-content" style="margin-top: 3.3%;">
  <li><a routerLink="/drones" style="color: black">Produktside</a></li>
  <li class="divider"></li>
  <li><a href="javascript:void(0)" style="color: black">Tilføj drone</a></li>
</ul>


<div class="col s12">
    <mz-navbar [navbarClass]="'grey darken-1'">
      <a href="#" class="brand-logo center" style="font-family: 'Allerta Stencil', Sans-serif, serif;">WeFly4You</a>

      <mz-navbar-item-container [align]="'left'" [style.display]="!loggedIn ? 'block': 'none'">
        <mz-navbar-item  ><a href="/drones">Droner</a></mz-navbar-item>


      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'left'" [style.display]="loggedIn ? 'block': 'none'">

        <mz-navbar-item>
          <a href="javascript:void(0)" class="dropdown-button"  data-activates="dropdownDrones">
            Droner
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </mz-navbar-item>
      </mz-navbar-item-container>


      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item *ngIf="!loggedIn"><a routerLink="/login"><i class="material-icons left">account_circle</i>login</a></mz-navbar-item>
        <mz-navbar-item *ngIf="loggedIn"><a (click)="onLogout($event)" routerLink="/login">Logout</a></mz-navbar-item>

      </mz-navbar-item-container>
    </mz-navbar>
  </div>


