<div fxFlexFill fxLayout="column">
  <app-navbar></app-navbar>

  <div fxLayout="column" fxFlex>
    <div fxFlex style="margin: 0%">
      <router-outlet></router-outlet>
    </div>
    <footer class="page-footer grey darken-1" style="margin-top: 3%">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text" style="font-family: Allerta Stencil, Sans-serif, serif;">WeFly4You</h5>
            <ul>
              <li class="grey-text text-lighten-4">Kontakt: </li>
              <li class="grey-text text-lighten-4">Alan Rasmussen: </li>
              <li class="grey-text text-lighten-4">Mobil: 96944865</li>
            </ul>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Følg os på</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/groups/1830578060509692/?fref=nf">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCkqwJA_xdZAhlZeGFPNs1Tw/featured">Youtube</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Snapchat</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container" style="text-align: center">
          © 2018 Copyright WeFly4You I/S
        </div>
      </div>
    </footer>
  </div>
</div>
