<div class="dronesite">
  <div class="sidenav" fxFlex="5">
    <ul>
      <li> <a routerLink="/manufacturers/{{manufacturer.id}}" style="font-size: x-large; display: block" *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</a></li>
    </ul>
  </div>
<div class="container"
     fxLayout="column"
     fxFlex="80"
     fxLayoutGap="10px">
  <div fxLayout="row wrap" *ngIf="drones">
    <div fxFlex="33" *ngFor="let drone of drones">
      <div class="col s12 m4">
        <a routerLink="/drones/{{drone.id}}">
        <div class="card hoverable" style="margin: 2%; color: black">
          <div class="card-image">
            <img src={{drone.imageURL}}>
            <span class="card-title">{{drone.model}}</span>
          </div>
          <div class="card-content" style="width:360px;height: 170px">
            <p style="text-align: center; font-size: x-large">{{drone.productName}}</p>
            <br>
            <p style="text-align: center; font-size: larger">DKK {{drone.price}},-</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
