<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxLayout="row wrap" *ngIf="drones">
    <div fxFlex="33" *ngFor="let drone of drones">
      <div class="col s12 m4">
        <a href="#">
        <div class="card hoverable" style="margin: 2%; color: black">
          <div class="card-image">
            <img src={{drone.imageURL}}>
            <span class="card-title">{{drone.model}}</span>
          </div>
          <div class="card-content" style="width:360px;height: 170px">
            <p style="text-align: center; font-size: x-large">{{drone.productName}}</p>
            <p style="text-align: center; font-size: larger">{{drone.price}}</p>
            <p style="text-align: center; font-size: large">{{drone.details}}</p>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
