.roundImg {
  border-radius: 50%;
  width: 250px;
  height: 250px
}

.roundImg:hover {
  cursor: pointer;
}

.inline-block-child {
  display: inline-block;

}


#intro {
  position: absolute;
  z-index: 1000;
  top: 250px;
  left: 200px;
}
