<mz-parallax [height]="700">
  <img src="https://images.wallpaperscraft.com/image/quadcopter_drone_quadrotor_helicopter_quadrotor_113593_1920x1080.jpg">
</mz-parallax>
<div class="container">


      <div style="margin-top: 100px; text-align: center">

        <div class="child inline-block-child">
          <img class="roundImg" (click)="bygningModal.openModal()"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg">
          <h4>Bygninger</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Events</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Natur</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Foreninger</h4>
        </div>

      </div>

  <mz-modal #bygningModal>
    <mz-modal-header>
      <h4>Bygning</h4>
    </mz-modal-header>
    <mz-modal-content>

      <iframe width="720" height="520"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>

    </mz-modal-content>
    <mz-modal-footer>

    </mz-modal-footer>
  </mz-modal>


</div>


