<mz-parallax [height]="700">
  <img src="https://images.wallpaperscraft.com/image/quadcopter_drone_quadrotor_helicopter_quadrotor_113593_1920x1080.jpg">
</mz-parallax>

<h1 id="intro">Få et nyt <br/> Perspektiv</h1>

<div class="container">

  <mz-card>
    <mz-card-title>
      We Fly 4 You
    </mz-card-title>

    <mz-card-content>
      For anyone who has taken the time to manually count the number of words on a page of paper, you know it’s both time consuming and frustrating. There has to be a better way. Fortunately, word counters can easily give you the information for your own writing, but what if you need to know the exact number of words for a particular page? Getting this information is a bit more difficult.

      There could be a number of reasons you want to know how many words are on a page. Many times it’s because you have an assignment which requires you to write a certain number of pages, so you’d like to know how many words are needed to fill a page. The problem is there’s not a definitive answer to this questions because there are so many factors that go into calculating the number of words on a page.
    </mz-card-content>


  </mz-card>


      <div style="margin-top: 100px; text-align: center">

        <div class="child inline-block-child">
          <img class="roundImg" (click)="bygningModal.openModal()"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg">
          <h4>Bygninger</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Events</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Natur</h4>
        </div>

        <div class="child inline-block-child" style="margin-left: 4%">
          <img class="roundImg"  src="https://image.freepik.com/free-photo/red-tiles-roof-background_1373-196.jpg" style="margin-left: 4%">
          <h4>Foreninger</h4>
        </div>

      </div>

  <hr style="margin-top: 10%">
</div>

<div class="container">

  <div style="text-align: center">

    <h3>Følg os</h3>

    <div class="child inline-block-child" style="margin-top: 10%">

      <i class="material-icons left">account_circle</i>
      <i class="material-icons left">account_circle</i>
      <i class="material-icons left">account_circle</i>

    </div>




  </div>

</div>


  <mz-modal #bygningModal>
    <mz-modal-header>
      <h4>Bygning</h4>
    </mz-modal-header>
    <mz-modal-content>

      <iframe width="720" height="520"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>

    </mz-modal-content>
    <mz-modal-footer>

    </mz-modal-footer>
  </mz-modal>





