<div class="container"
     fxLayout="column"
     fxFlex="50"
     fxLayoutGap="30px">
  <div fxLayout="row wrap" *ngIf="drones">
    <mz-collapsible fxFlex="100" fxLayoutAlign="center center" fxFill="100">
      <mz-collapsible-item *ngFor="let drone of drones">
        <mz-collapsible-item-header style="font-size: large">Drone Id: {{drone.id}} -  Drone navn: {{drone.manufacturer.name}} {{drone.productName}}</mz-collapsible-item-header>
        <mz-collapsible-item-body>
          <form [formGroup]="droneForm" (ngSubmit)="update()">
            <table class="striped" *ngIf="manufacturers">
              <tbody *ngIf="!isUpdate">
              <tr>
                <td>Id</td>
                <td style="text-align: center">{{drone.id}}</td>
              </tr>
              <tr>
                <td>Navn</td>
                <td style="text-align: center">{{drone.productName}}</td>
              </tr>
              <tr>
                <td>Fabrikant</td>
                <td style="text-align: center">{{drone.manufacturer.name}}</td>
              </tr>
              <tr>
                <td>Detailer</td>
                <td>{{drone.details}}</td>
              </tr>
              <tr>
                <td>Pris</td>
                <td style="text-align: center">{{drone.price}}</td>
              </tr>
              <tr>
                <td>ImageUrl</td>
                <td>{{drone.imageURL}}</td>
              </tr>
              <tr>
                <td>UserManualUrl</td>
                <td>{{drone.userManualURL}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="isUpdate">
              <tr>
                <td>Id</td>
                <td>{{drone.id}}</td>
              </tr>
              <tr>
                <td>Navn</td>
                <td><input type="text" formControlName="productName" value="{{drone.productName}}"></td>
              </tr>
              <tr>
                <td>Tidliger fabrikant</td>
                <td><input type="text" formControlName="manufacturer" value="{{drone.manufacturer.name}}"></td>
              </tr>
              <tr>
                <td>Ny fabrikant</td>
                <mz-select-container class="col s12 m6">
                  <select mz-select
                          id="manufacturer"
                          [label]="'Fabrikant'"
                          [placeholder]="'Vælg fabrikant'"
                          [formControlName]="'manufacturer'"
                  >
                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{manufacturer.name}}</option>
                  </select>
                </mz-select-container>
              </tr>
              <tr>
                <td>Detailer</td>
                <td><input type="text" formControlName="details" value="{{drone.details}}"></td>
              </tr>
              <tr>
                <td>Pris</td>
                <td><input type="number" formControlName="price" value="{{drone.price}}"></td>
              </tr>
              <tr>
                <td>ImageUrl</td>
                <td><input type="text" formControlName="imageURL" value="{{drone.imageURL}}"></td>
              </tr>
              <tr>
              <td>UserManualUrl</td>
              <td><input type="text" formControlName="userManualURL" value="{{drone.userManualURL}}"></td>
              </tr>
              </tbody>
            </table>
            <div class="buttonsRead" *ngIf="!isUpdate">
              <button *ngIf="!isUpdate" (click)="delete(drone.id)" mz-button [float]="true" class="red"><i class="material-icons">delete</i></button>
              <span class="right">
            <button *ngIf="!isUpdate" (click)="setUpdate(drone)" mz-button [float]="true" class="blue"><i class="material-icons" style="margin-left: 2px">edit</i></button>
          </span>
            </div>
            <div class="buttonsUpdate" *ngIf="isUpdate">
              <button *ngIf="isUpdate" (click)="resetUpdate()" mz-button [float]="true" class="red"><i class="material-icons">cancel</i></button>
              <span class="right">
            <button *ngIf="isUpdate" type="submit" mz-button [float]="true" class="green"><i class="material-icons" style="margin-left: 2px">check</i></button>
          </span>
            </div>
          </form>
        </mz-collapsible-item-body>
      </mz-collapsible-item>
    </mz-collapsible>
  </div>
</div>
